//Big Screens 
@include mediaXl{
    .projects{
        grid-template-columns: repeat(4,1fr);
    }
}
//Desktops 
@include mediaLg{
    .projects{
        grid-template-columns: repeat(3,1fr);
    }
}
//tablets 
@include mediaMd{
    .projects{
        grid-template-columns: repeat(2,1fr);
    }
    .about-info{
        display: grid;
        grid-gap: 10px;
        grid-template-areas: 
        'bioimage' 'bio' 'bio'
        'job1' 'job2' 'job3';
        grid-template-columns: 1fr;
    }
    main{
        align-items: center;
        text-align: center;
        .lg-heading{
            line-height:1;
            margin-bottom: 1rem;
        }
        
    }

    ul.menu-nav,div.menu-brand{
        float: none;
        width: 100%;
        min-height: 0;

        &.show{
            transform: translate3d(0,0,0);
        }
    }
    .menu-nav{
        height: 75vh;
        transform: translate3d(-100%,0,0);
        font-size: 24px;
    }
    .menu-brand{
        height:25vh;
        transform: translate3d(100%,0,0);

        .photo{
            width: 150px;
            height:150px;
        }
    }

}
//small screens
@include mediaSm{

    .lg-heading{
        
        font-weight:100;
    }
    .projects{
        grid-template-columns: 1fr;
    }
main#home h1{
    margin-top: 10vh;
    font-size:5rem;
}
main#projects-page h1{
    margin-top: 10vh;
    font-size:5rem;
}
main#contact h1{
    margin-top: 10vh;
    font-size:5rem;
}
}