@import 'config';
@import 'menu';

*{
    box-sizing: border-box;
}
body{
    @include bg();
    background: black;
    color: #fff;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
h1,h2,h3{
    margin: 0;
    font-weight: 600;

    &.lg-heading{
        font-size: 6rem;
    }
    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color,2),0.5);
    }
}
a{
    color: #fff;
    text-decoration: none;
}
header{
    position: fixed;
    z-index: 2;
    width: 100%;
}
.text-secondary{
    color: $secondary-color;
}
main{
    padding: 4rem;
    min-height:calc(100vh - 60px);
    .icons{
        margin-top:1rem;
        a{
            padding:0.4rem;

            &:hover{
                color:$secondary-color;
                @include easeOut();
            }
        }
    }

    &#home{
        overflow: hidden;
        h1{
            margin-top:20vh;
        }
    }
}

.about-info{
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3,1fr);
}
.bio-image{
    grid-area: bioimage;
    margin:auto;
    border: solid 3px $secondary-color;
    border-radius: 50%;
    width: 250px;
    height:250px; 
}
.bio{
    grid-area:bio;
    font-size: 1.5rem;
}
.job{
    background: lighten($primary-color,5);
    padding:10px;
    border-bottom: $secondary-color 5px solid;
}
.job-1{
    grid-area:job1;
}
.job-2{
    grid-area:job2;
}
.job-3{
    grid-area:job3;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
  
    img{
        width:100%;
        border:3px #fff solid;
        height:40vh;
        &:hover{
            opacity: 0.6;
            border: 5px $secondary-color solid;
        }
    }
}

//Contact 
#contact{
        text-align: center;
}


//boxes

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;   
    div{
        font-size:2rem;
        border: 3px solid white;
        padding: 1.5rem 2.5rem;
        margin-bottom:1.5rem;
        @include easeOut;

        &:hover{
            background: $secondary-color;
            padding:1.5rem 1.5rem;
            span{
                color: #fff;
            }
        }
    }
}
//buttons
.btn{
    display: block;
    width: 100%;
    text-align: center;
    padding:1rem;
    margin-bottom: 0.3rem;
    @include easeOut;
    &:hover{
     background: $secondary-color;
     color:white;
    }
}
.btn-light{
background: #fff;
color: black;
}
.btn-dark{
background: black;
color:white;
}

#main-footer{
    background: darken($primary-color,10);
    padding:0.5rem;
    text-align: center;
    height: 60px;
}

//animation
.animated{
  
    margin: 0;
    padding:0;
    background: url(/dist/Images/seamless-colorful-diagonal-stripes-pattern-vector.jpg);
    background-clip: text;
    -webkit-background-clip: text; 
    color:transparent;
    animation: moveBg 12s linear  infinite ;
    -webkit-animation: moveBg 12s linear  infinite ;
}
@keyframes moveBg{
    0%{
        background-position: 0% 30%;
    }
    100%{
        background-position: 100% 50%;
    }
}
@import 'mobile';